Premier League Match Analysis

In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('../Data/premier-league-matches.csv')

In [17]:
df.head()

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR
0,1993,1,1992-08-15,Coventry City,2,1,Middlesbrough,H
1,1993,1,1992-08-15,Leeds United,2,1,Wimbledon,H
2,1993,1,1992-08-15,Sheffield Utd,2,1,Manchester Utd,H
3,1993,1,1992-08-15,Crystal Palace,3,3,Blackburn,D
4,1993,1,1992-08-15,Arsenal,2,4,Norwich City,A

In [18]:
df.shape

(12026, 8)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12026 entries, 0 to 12025
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Season_End_Year  12026 non-null  int64
 1   Wk               12026 non-null  int64
 2   Date             12026 non-null  object
 3   Home             12026 non-null  object
 4   HomeGoals        12026 non-null  int64
 5   AwayGoals        12026 non-null  int64
 6   Away             12026 non-null  object
 7   FTR              12026 non-null  object
dtypes: int64(4), object(4)
memory usage: 751.8+ KB

In [20]:
df.rename(columns = {'Season_End_Year': 'season_end',
                     'Home': 'home_team',
                     'Away': 'away_team',
                     'HomeGoals': 'home_goals',
                     'AwayGoals': 'away_goals',
                     'FTR': 'result',
                     'Date': 'date',
                     'Wk': 'week'},
                     inplace = True)

In [21]:
df.head()

,season_end,week,date,home_team,home_goals,away_goals,away_team,result
0,1993,1,1992-08-15,Coventry City,2,1,Middlesbrough,H
1,1993,1,1992-08-15,Leeds United,2,1,Wimbledon,H
2,1993,1,1992-08-15,Sheffield Utd,2,1,Manchester Utd,H
3,1993,1,1992-08-15,Crystal Palace,3,3,Blackburn,D
4,1993,1,1992-08-15,Arsenal,2,4,Norwich City,A

In [22]:
df = df[['home_team', 'away_team', 'home_goals', 'away_goals', 'result', 'season_end',
         'date', 'week']]

In [23]:
df.head()

,home_team,away_team,home_goals,away_goals,result,season_end,date,week
0,Coventry City,Middlesbrough,2,1,H,1993,1992-08-15,1
1,Leeds United,Wimbledon,2,1,H,1993,1992-08-15,1
2,Sheffield Utd,Manchester Utd,2,1,H,1993,1992-08-15,1
3,Crystal Palace,Blackburn,3,3,D,1993,1992-08-15,1
4,Arsenal,Norwich City,2,4,A,1993,1992-08-15,1

In [26]:
#Convert date column to date type
pd.to_datetime(df['date'], format = '%Y-%m-%d')

0       1992-08-15
1       1992-08-15
2       1992-08-15
3       1992-08-15
4       1992-08-15
           ...
12021   2023-05-28
12022   2023-05-28
12023   2023-05-28
12024   2023-05-28
12025   2023-05-28
Name: date, Length: 12026, dtype: datetime64[ns]

In [27]:
df['date'] = pd.to_datetime(df['date'], format = '%Y-%m-%d')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12026 entries, 0 to 12025
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   home_team   12026 non-null  object
 1   away_team   12026 non-null  object
 2   home_goals  12026 non-null  int64
 3   away_goals  12026 non-null  int64
 4   result      12026 non-null  object
 5   season_end  12026 non-null  int64
 6   date        12026 non-null  datetime64[ns]
 7   week        12026 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 751.8+ KB

In [ ]:
#df_copy_1 = df